<div class="container-fluid" ng-controller="ContentCtrl">

    <div ng-include="'/features/header/header.tpl.html'"></div>

    <div ui-view></div>
    <!--<div class="row">-->
        <!--<div ng-class="contentClass">-->

        <!--<div class="col-md-12 content">-->
            <!--<ul>
                <li ng-repeat="party in parties">
                    {{party.id +' '+ party.name }}
                </li>
            </ul>-->


            <!--<div class="row" ng-include="'views/home/home.tpl.html'"></div>-->
<!--            <div class="row" ng-include="'views/carousel/example2.calculator.tpl.html'"></div>-->


        <!--</div>-->
        <div class="footer col-md-12" ng-include="'/features/footer/footer.tpl.html'"></div>

    </div>

</div>


