<!-- background-image-->
<div class="home-img2">
    <div class="home-img2-overlay"></div>
</div>
<div layout-lt-md="column" layout-gt-md="column">
    <div layout-lt-md="column" layout-gt-md="row">
        <div flex-lt-md="0" flex-gt-md="30"></div>

        <div flex-lt-md="500px" flex-gt-md="45" style="height:500px">
            <jumbotron class="color-white">VOLLEYBALL CLUB MÖNCHALTORF
                <p class="color-white">Der VBCM versteht sich als Plauschverein - der Spass am
                    Spielen steht im Vordergrund.
                </p>
            </jumbotron>
            <!--empty space for image-->
            <spacer></spacer>
        </div>
    </div>
</div>
<div layout-lt-md="column" layout-gt-md="row">
    <div flex>
        <jumbotron>
            Trainingszeiten
            <p hide-lt-md>Wir spielen am Montag und am Donnerstag in der Turnhalle Rietwis in Mönchaltorf.</p>
        </jumbotron>
    </div>
    <div flex>
        <spacer></spacer>
        <jumbotron>Beachvolley
            <p>Im Sommerhalbjahr treffen sich die Beachvolley-Begeisterten ausserdem regelmässig beim Schulhaus
                Hagacher zum Spielen. Organisiert wird dies per Doodle.
            </p>
        </jumbotron>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>

